*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/*inizio macro-struttura*/
main{
    width: 100vw;
    height: calc(100vh - 85px);
    display: flex;
}
footer{
    height: 85px;
    width: 100%;
}
/*fine macro-struttura*/
/*inizo struttura di "main"*/
.left-main{
    width: 170px;
    height: 100%;
    background-color: black;
    padding-left: 10px;
}
.right-main{
    width: calc(100% - 170px);
    height: 100%;
    flex-direction:column;
}
/*fine struttura di main*/
/*inizio struttura di left-main*/
.left-main-1-4{
    height: 85px;
    position: relative;
}
.left-main-2-4{
    height: 75px;
}
.left-main-3-4{
    margin-top: 15px;
    height: calc(100% - 235px);
}
.left-main-4-4{
    height: 65px;
}
/*fine struttura di left-main*/
/* inizio contentuto di left-main-1-4 */
#logo-principale{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -50%);
    width: 80%;
}
/* fine contentuto di left-main-1-4 */
/* inizio contentuto di left-main-2-4 */
.lista-none{
    display: none;
}
.img-left-main{
    width: 20px;
}
/* fine contentuto di left-main-2-4 */
/* inizio contentuto di left-main-3-4 */
.playlist{
    width: 30px;
    height: 30px;
    background-color: gray;
    text-align: center;
    padding-top: 5px;
    display: inline-block;
    color: black;
}
/* fine contentuto di left-main-3-4 */
/* inizio contentuto di left-main-4-4 */
hr{
    color: white;
    height: 1px;
    width: 150px;
    border-style: inset;
    border-width: 1px;
    margin-right: 10px;
}
/* fine contentuto di left-main-4-4 */

/*inizio struttura di right-main*/
.right-main-top{
    background-color: rgb(36, 35, 35);
    width: 100%;
    height: 85px;
    position: relative;
}
.right-main-bottom{
    background-color: rgb(212, 138, 27);
    width: 100%;
    height: calc(100% - 85px);
}
/* inizio contenuto di right-main-top */
button{
    padding: 10px 25px 10px 25px;
    color: white;
    border: solid 1px white;
    border-radius: 20px;
    background-color: black;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    text-transform: uppercase;
    margin-right: 5px;
}
/* fine contenuto di right-main-top */
/* inizio struttura di right-main-bottom */
/* fine struttura di right-main-bottom */
/*fine struttura di right-main*/

/* font & color  & list */
.white{
    color: white;
    display: inline-block;
}
.stampatello{
    text-transform: uppercase;
}
ul{
    padding-inline-start: 0px;
}
li{
    list-style-type: none;
    padding-top: 5px;
}
h6{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}
a{
    text-decoration: none;
}
.gray{
    color: gray;
    display: inline;
}
/*inizo struttura di footer*/
.content-footer{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(26, 20, 20);
}
.song{
    width: 30%;
    height: 100%;
    display: flex;
}
.player{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.volume{
    width: 30%;
    height: 100%;
    position: relative;
}
.mar-footer{
    padding: 10px 10px 10px 10px;
}
.li-inline{
    display: inline;
}
/* inizio contenuto song */
/* inizio macro*/
.img-song{
    height: 100%;
    width: 50px;
    position: relative;
}
.info-song{
    height: 100%;
    width: 50px;
    position: relative;
    margin-left: 10px;
}
.icon-song{
    height: 100%;
    width: calc(100% - 100px);
    display: flex;
    position: relative;
}

/* fine macro*/
.icon-song-1{
    height: 100%;
    width: 20px;
    position: relative;
}
.icon-song-2{
    height: 100%;
    width: calc(100% - 20px);
    position: relative;
}
.content-icon-song-1{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.content-icon-song-2{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(50%, -50%);
}
.content-icon-song-1-2-none{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
}
.icona{
    color: gray;
    width: 10px;
    display: block;
}
.icona:hover{
    color: white;
}
#img-footer{
    width: 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
#ul-song{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}
.left-footer-song{
    font-size: 10px;
    color: gray;
    list-style-type: none;
    padding-top: 0px;
}
#ul-song-none{
    display: none; 
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}
/* fine contenuto song */
/* inizio contenuto player*/ 
/* inizio macro*/
.player-top{
    width: 100%;
    height: 50%;
}
.player-bottom{
    width: 100%;
    height: 50%;
    display: flex;
}
/* fine macro*/
#ul-player{
    width: 160px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.player-bottom-1-3{
    width: 20px;
    height: 100%;
    position: relative;
}
.player-bottom-2-3{
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    position: relative;
}
.minutaggio{
    margin: 0px 10px 0px 10px;
    width: calc(100% - 20px);
    background-color: rgba(128, 128, 128, 0.558);
    height: 5px;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    border-radius: 10px;
    display: flex;
}
.column-minutaggio-1{
    width: 25%;
    background-color: white;
    height: 100%;
}
.column-minutaggio-2{
    width: 75%;
}
.column-minutaggio-1:hover{
    background-color: green;
}

/* fine contenuto player*/ 
/* inizio contenuto volume*/ 

#ul-volume{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-8%, -50%);
    width: 110px;
}
.barra-volume{
    margin: 0px 10px 0px 10px;
    width: 50px;
    background-color: rgba(128, 128, 128, 0.558);
    height: 5px;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    border-radius: 10px;
    display: flex;
}
.column-vol-1:hover{
    background-color: green;
}
.column-vol-1{
    width: 25%;
    height: 100%;
    background-color: white;
}
.column-vol-2{
    width: 75%;
    height: 100%;
}
/* fine contenuto volume*/ 

/*fine struttura di footer*/

/* mobile */
@media  screen and (max-width: 480px) {
    .left-main{
        width: 40px;
        
    }
    .right-main{
        width: calc(100% - 40px);
    }
    .lista-none{
        display: block;
        padding-top: 10px;margin: 0 auto;
    }
    .lista{
        display: none;
    }
    .left-main-1-4{
        display: none;
    }
    .left-main-4-4{
        margin-top: 85px;
    }
    .icon-song{
        flex-direction: column;
        width: 25%;
    }
    .icon-song-1, .icon-song-2{
        width: 100%;
    }
    .img-song{
        width: 25%;
    }
    .info-song{
        width: 50%;
    }
    .content-info-song-1{
        display: none;
    }
    .content-info-song-1-none{
        display: block;
    }
    #ul-song-none{
        display: block;
    }
    #ul-song{
        display: none;
    }
    .content-icon-song-1{
        display: none;
    }
    .content-icon-song-2{
        display: none;
    }
    .content-icon-song-1-2-none{
        display: block;
    }
}